/*PAGINATION*/
.pagination {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
    gap: 10px;
    flex-wrap: wrap;
}

.pagination button {
    background-color: #737789;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.pagination button.active {
    background-color: #1f212a;
    font-weight: bold;
    box-shadow: 2px -2px 7px #000000af;
}

/*Adaptive styles*/
@media (max-width: 1024px) {
    /*PAGINATION*/
}

@media (max-width: 768px) {
    /*PAGINATION*/
}

@media (max-width: 480px) {
    /*PAGINATION*/
}